# Created by .ignore support plugin (hsz.mobi)
### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


/.idea/
/practice-keymap/practice-keymap.iml
/practice-keymap/target/classes/keymap/practice/methodHierarchy/ChildClass.class
/practice-keymap/target/classes/keymap/practice/methodHierarchy/ParentClass.class
/practice-keymap/target/classes/keymap/practice/FirstCursor.class
/practice-keymap/target/classes/keymap/practice/Refactoring.class
/practice-keymap/target/classes/keymap/practice/SecondWindow.class
/practice-keymap/target/classes/keymap/practice/thirdSearchCode.class
/practice-keymap/target/classes/keymap/practice/interfaces/DefaultExample.class
/practice-keymap/target/classes/keymap/practice/interfaces/Example.class
